<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="home" class="header_area">
  <div id="header_navbar" class="header_navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img id="logo" src="assets/images/logo.png" alt="Logo" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
            >
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#servicos">Serviços</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#planos">Planos</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="page-scroll" href="#depoimentos">Clientes</a>
                </li> -->
                <li class="nav-item">
                  <a class="page-scroll" href="#contato">Contato</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header_hero">
    <div
      class="single_hero bg_cover d-flex align-items-center"
      style="background-image: url(assets/images/hero-net.jpg)"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="hero_content text-center">
              <h2
                class="hero_title wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.2s"
              >
                MVM
              </h2>
              <p
                class="wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.5s"
              >
                Pensou em internet de qualidade, pensou MVM.
              </p>
              <a
                href="#porque-mvm"
                class="main-btn wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.8s"
                >Saiba Mais</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="porque-mvm" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4
            class="title wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
          >
            Por que contratar a MVM?
          </h4>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            Temos a melhor internet de fibra da região, qualidade e velocidade
            juntos na mesma internet
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div
          class="single_features text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <i class="lni lni-layers"></i>
          <h4 class="features_title">Equipe</h4>
          <p>Equipe treinada e qualificada para melhor atender você.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div
          class="single_features text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <i class="lni lni-layout"></i>
          <h4 class="features_title">Suporte</h4>
          <p>
            Suporte preparado para agilizar seu atendimento e disponibilizando
            produtos que necessitar para auxiliar sua residência ou empresa.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div
          class="single_features text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.6s"
        >
          <i class="lni lni-bolt"></i>
          <h4 class="features_title">Velocidade</h4>
          <p>Temos internet de fibra mais rápida e de qualidade da região.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sobre" class="pt-130">
  <div class="about_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_content pt-120 pb-130">
            <div class="section_title pb">
              <h4
                class="title wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.2s"
              >
                Sobre nós
              </h4>
              <p
                class="wow fadeInUp"
                data-wow-duration="1.3s"
                data-wow-delay="0.4s"
              >
                A MVM é uma provedora de internet de fibra óptica, fundada em
                2016 com o objetivo de oferecer conectividade de alta qualidade
                e velocidade para residências e empresas. Desde a sua criação, a
                empresa tem se dedicado a expandir sua infraestrutura e inovar
                em soluções tecnológicas, garantindo um serviço estável e
                eficiente para seus clientes. Com um foco constante na
                satisfação do cliente e na melhoria contínua de seus serviços, a
                MVM se destaca no mercado como uma das principais opções para
                quem busca uma internet rápida e confiável.
              </p>
            </div>
            <a
              href="#servicos"
              class="main-btn wow fadeInUp"
              data-wow-duration="1.3s"
              data-wow-delay="0.7s"
              >Conhecer os serviços</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="about_image bg_cover wow fadeInLeft"
      data-wow-duration="1.3s"
      data-wow-delay="0.2s"
      style="background-image: url(assets/images/hero.jpg)"
    >
      <div class="image_content">
        <h4 class="experience"><span>8</span> Anos de Experiência</h4>
      </div>
    </div>
  </div>
</section>

<section id="servicos" class="features_area pt-120 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4
            class="title wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
          >
            Serviços
          </h4>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            Disponibilizamos diversos serviços para melhor atender você.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <i class="lni lni-briefcase"></i>
          <h4 class="features_title">Internet de Fibra</h4>
          <p>
            A MVM oferece internet de fibra óptica de alta velocidade,
            garantindo uma conexão estável e rápida para todas as suas
            necessidades, seja para trabalho, estudo ou lazer.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.3s"
        >
          <i class="lni lni-clipboard"></i>
          <h4 class="features_title">Internet via Satélite</h4>
          <p>
            Para áreas remotas onde a fibra óptica ainda não chegou, a MVM
            disponibiliza internet via satélite, proporcionando conectividade
            confiável e acessível em qualquer lugar.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <i class="lni lni-target-revenue"></i>
          <h4 class="features_title">Suporte técnico</h4>
          <p>
            Nossa equipe de suporte técnico está disponível via WhatsApp ou
            ligação, pronta para resolver qualquer problema. Se necessário,
            enviamos um técnico até sua residência para garantir que tudo
            funcione perfeitamente.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <i class="lni lni-invention"></i>
          <h4 class="features_title">Atendimento</h4>
          <p>
            Nosso atendimento ao cliente é dedicado e eficiente, sempre pronto
            para ajudar com qualquer dúvida ou necessidade. Prezamos por um
            serviço personalizado e de qualidade.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.3s"
        >
          <i class="lni lni-bar-chart"></i>
          <h4 class="features_title">Reparação e manutenção de equipamentos</h4>
          <p>
            A MVM oferece serviços de reparação e manutenção para garantir que
            todos os seus equipamentos de internet funcionem corretamente,
            prolongando sua vida útil e melhorando o desempenho.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single_features text-center mt-60 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <i class="lni lni-calendar"></i>
          <h4 class="features_title">Varejo de equipamentos</h4>
          <p>
            Além dos serviços de internet, a MVM também vende uma variedade de
            equipamentos de alta qualidade para garantir a melhor experiência de
            conectividade para seus clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="planos" class="pricing_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
          >
            Planos
          </h4>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            Confira abaixo nosso planos:
          </p>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            - Incluso wifi (Roteador e o equipamento fica
            emprestado)
          </p>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            - Contrato fidelidade de um ano
          </p>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            - Adesão a vista ou em até 3x no cartão c/ juros
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_pricing text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <h4 class="pricing_title">310 MEGAS</h4>
          <span class="price">R$ 80,00</span>
          <ul class="pricing_list">
            <li>(Adesão do plano 200,00)</li>
          </ul>

          <a
            href="https://api.whatsapp.com/send?phone=5514991647641"
            target="_blank"
            class="mian-btn"
            >Contratar</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_pricing text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.3s"
        >
          <h4 class="pricing_title">610 MEGAS</h4>
          <span class="price">R$ 100,00</span>
          <ul class="pricing_list">
            <li>(Adesão do plano 150,00)</li>
          </ul>
          <a
            href="https://api.whatsapp.com/send?phone=5514991647641"
            target="_blank"
            class="mian-btn"
            >Contratar</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_pricing text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <h4 class="pricing_title">810 MEGAS</h4>
          <span class="price">R$ 120,00</span>
          <ul class="pricing_list">
            <li>(Adesão do plano 100,00)</li>
          </ul>
          <a
            href="https://api.whatsapp.com/send?phone=5514991647641"
            target="_blank"
            class="mian-btn"
            >Contratar</a
          >
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_pricing text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <h4 class="pricing_title">910 MEGAS</h4>
          <span class="price">R$ 160,00</span>
          <ul class="pricing_list">
            <li>(Adesão do plano 50,00)</li>
          </ul>

          <a
            href="https://api.whatsapp.com/send?phone=5514991647641"
            target="_blank"
            class="mian-btn"
            >Contratar</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_pricing text-center mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.3s"
        >
          <h4 class="pricing_title">1 GIGA</h4>
          <span class="price">R$ 200,00</span>
          <ul class="pricing_list">
            <li>(Sem taxa de adesão)</li>
          </ul>
          <a
            href="https://api.whatsapp.com/send?phone=5514991647641"
            target="_blank"
            class="mian-btn"
            >Contratar</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="team" class="team_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4
            class="title wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
          >
            Equipe
          </h4>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt labor dolore.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center team_active">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_team mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
          <img src="assets/images/team-1.jpg" alt="team" />
          <div class="team_content">
            <h4 class="team_name"><a href="#">Matheus</a></h4>
            <p>Líder Técnico</p>
            <ul class="social">
              <li>
                <a href="#"><i class="lni lni-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_team mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.3s"
        >
          <img src="assets/images/team-2.jpg" alt="team" />
          <div class="team_content">
            <h4 class="team_name"><a href="#">Bruno</a></h4>
            <p>Coordenador de Atendimento</p>
            <ul class="social">
              <li>
                <a href="#"><i class="lni lni-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div
          class="single_team mt-30 wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.4s"
        >
          <img src="assets/images/team-3.jpg" alt="team" />
          <div class="team_content">
            <h4 class="team_name"><a href="#">João</a></h4>
            <p>Gerente Adminstrativo</p>
            <ul class="social">
              <li>
                <a href="#"><i class="lni lni-whatsapp"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section
  id="depoimentos"
  class="testimonial_area pt-130 pb-130 bg_cover"
  style="background-image: url(assets/images/testimonial.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="glide testimonial_active">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-1.jpg" alt="author" />
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos accusam et justo
                  duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-2.jpg" alt="author" />
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos accusam et justo
                  duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-3.jpg" alt="author" />
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos accusam et justo
                  duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
            </div>
          </div>
          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section
  id="contato"
  class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title section_title_2 text-center pb-25">
          <h4
            class="title wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.2s"
          >
            Contato
          </h4>
          <p
            class="wow fadeInUp"
            data-wow-duration="1.3s"
            data-wow-delay="0.4s"
          >
            Entre em contato com a gente para fazer um orçamento ou tirar
            dúvidas. Estamos á disposição para melhor atendê-lo.
          </p>
        </div>
      </div>
    </div>
    <div
      id="contact-form"
      class="wow fadeInUp"
      data-wow-duration="1.3s"
      data-wow-delay="0.4s"
    >
      <div class="footer_social pt-15 text-center">
        <ul>
          <li>
            <a href="mail:suporte@mvm.net.br" target="_blank"
              ><i class="lni lni-envelope mr-10"></i>suporte@mvm.net.br</a
            >
          </li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=5514991647641"
              target="_blank"
              ><i class="lni lni-whatsapp mr-10"></i>WhatsApp</a
            >
          </li>
          <!-- <li>
            <a href="#"><i class="lni lni-facebook-original"></i></a>
          </li>
          <li>
            <a href="#"><i class="lni lni-instagram-original"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="footer_area">
  <div class="container">
    <div
      class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between"
    >
      <p class="credit">
        Desenvolvido por
        <a
          href="https://www.linkedin.com/in/miguel-oliveira-90ab0a9b/"
          rel="nofollow"
          >Miguel Oliveira</a
        >
      </p>
      <div class="footer_social pt-15">
        <ul>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=5514991647641"
              target="_blank"
              ><i class="lni lni-whatsapp"></i
            ></a>
          </li>
          <!-- <li>
            <a href="#"><i class="lni lni-facebook-original"></i></a>
          </li>
          <li>
            <a href="#"><i class="lni lni-instagram-original"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

<router-outlet></router-outlet>
