<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="home" class="header_area">
  <div id="header_navbar" class="header_navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img id="logo" src="assets/images/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#pricing">Planos</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#team">Equipe</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#contact">Contato</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-center"
      style="background-image: url(assets/images/hero-net.jpg)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="hero_content text-center">
              <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">MVM</h2>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Pensou em internet de qualidade,
                pensou MVM.</p>
              <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Saiba
                Mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="features" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Por que contratar a MVM?</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Temos a melhor internet de fibra da
            região, qualidade e velocidade juntos na mesma internet</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <i class="lni lni-layers"></i>
          <h4 class="features_title">Equipe</h4>
          <p>Equipe treinada e qualificada para melhor atender você.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <i class="lni lni-layout"></i>
          <h4 class="features_title">Suporte</h4>
          <p>Suporte preparado para agilizar seu atendimento e disponibilizando produtos que necessitar para auxiliar
            sua residência.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
          <i class="lni lni-bolt"></i>
          <h4 class="features_title">Velocidade</h4>
          <p>Temos internet de fibra mais rápida e de qualidade da região.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="about" class="pt-130">
  <div class="about_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_content pt-120 pb-130">
            <div class="section_title pb">
              <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Sobre nós</h4>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor
                sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et erebum</p>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Lorem ipsum dolor
                sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore etdolore maali quyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores</p>
            </div>
            <a href="#services" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Conhecer os
              serviços</a>
          </div>
        </div>
      </div>
    </div>
    <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
      style="background-image: url(assets/images/hero.jpg)">
      <div class="image_content">
        <h4 class="experience"><span>5</span> Anos de Experiência</h4>
      </div>
    </div>
  </div>
</section>


<section id="services" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Serviços</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Disponibilizamos diversos serviços para
            melhor atender você.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <i class="lni lni-briefcase"></i>
          <h4 class="features_title">Internet de Fibra</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <i class="lni lni-clipboard"></i>
          <h4 class="features_title">Internet via Satélite</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <i class="lni lni-target-revenue"></i>
          <h4 class="features_title">Suporte técnico</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <i class="lni lni-invention"></i>
          <h4 class="features_title">Atendimento</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <i class="lni lni-bar-chart"></i>
          <h4 class="features_title">Reparação e manutenção de computadores e equipamentos</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <i class="lni lni-calendar"></i>
          <h4 class="features_title">Varejo de equipamentos de informática</h4>
          <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing" class="pricing_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Planos</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Confira abaixo nosso planos:</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <h4 class="pricing_title">Plano 1</h4>
          <span class="price">R$ 70,00</span>
          <ul class="pricing_list">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>           
          </ul>
          <a href="#" class="mian-btn">Contratar</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s"
          data-wow-delay="0.3s">
          <h4 class="pricing_title">Plano 2</h4>
          <span class="price">R$ 99,90</span>
          <ul class="pricing_list">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
          <a href="#" class="mian-btn">Contratar</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <h4 class="pricing_title">Plano 3</h4>
          <span class="price">R$ 149,90</span>
          <ul class="pricing_list">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
          </ul>
          <a href="#" class="mian-btn">Contratar</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="team" class="team_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Equipe</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center team_active">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img src="assets/images/team-1.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">Matheus</a></h4>
            <p>Líder Técnico</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <img src="assets/images/team-2.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">Bruno</a></h4>
            <p>Coordenador de Atendimento</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <img src="assets/images/team-3.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">João</a></h4>
            <p>Gerente Adminstrativo</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover"
  style="background-image: url(assets/images/testimonial.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="glide testimonial_active">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-1.jpg" alt="author">
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-2.jpg" alt="author">
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/author-3.jpg" alt="author">
                <h5 class="author_name">Nome</h5>
                <span>Profissão</span>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                </p>
              </div>
            </div>
          </div>
          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title section_title_2 text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contato</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Entre em contato com a gente para fazer
            um orçamento ou tirar dúvidas. Estamos á disposição para melhor atendê-lo.</p>
        </div>
      </div>
    </div>
    <div id="contact-form" class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
      <div class="footer_social pt-15 text-center">
        <ul>
          <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
          <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
          <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="footer_area">
  <div class="container">
    <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
      <p class="credit">Desenvolvido por <a href="https://www.linkedin.com/in/miguel-oliveira-90ab0a9b/"
          rel="nofollow">Miguel Oliveira</a></p>
      <div class="footer_social pt-15">
        <ul>
          <li><a href="#"><i class="lni lni-whatsapp"></i></a></li>
          <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
          <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

<router-outlet></router-outlet>